{
  "openapi": "3.1.0",
  "info": {
    "title": "UnPay API",
    "description": "API-First Financial Infrastructure for UPI Collect, Connected Banking, Lending OS, and Payouts.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://app.unpay.in/api",
      "description": "Production"
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "paths": {
    "/v1/upi/collect": {
      "post": {
        "tags": [
          "UPI Collect"
        ],
        "summary": "Create Collection Request",
        "description": "Initiate a UPI collection request (Intent, QR, or Collect).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": {
                    "type": "number"
                  },
                  "currency": {
                    "type": "string",
                    "default": "INR"
                  },
                  "vpa": {
                    "type": "string"
                  },
                  "expiry": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request created successfully"
          }
        }
      }
    },
    "/v1/upi/collect/{id}": {
      "get": {
        "tags": [
          "UPI Collect"
        ],
        "summary": "Get Transaction Status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction details"
          }
        }
      }
    },
    "/v1/banking/accounts": {
      "get": {
        "tags": [
          "Connected Banking"
        ],
        "summary": "List Accounts",
        "description": "Retrieve all connected banking accounts.",
        "responses": {
          "200": {
            "description": "List of accounts"
          }
        }
      }
    },
    "/v1/banking/transfer": {
      "post": {
        "tags": [
          "Connected Banking"
        ],
        "summary": "Initiate Transfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_account": {
                    "type": "string"
                  },
                  "to_account": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Transfer initiated"
          }
        }
      }
    },
    "/v1/lending/loan/apply": {
      "post": {
        "tags": [
          "Lending OS"
        ],
        "summary": "Apply for Loan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "borrower_id": {
                    "type": "string"
                  },
                  "amount": {
                    "type": "number"
                  },
                  "tenure": {
                    "type": "integer"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Application submitted"
          }
        }
      }
    },
    "/v1/lending/loan/{id}": {
      "get": {
        "tags": [
          "Lending OS"
        ],
        "summary": "Get Loan Status",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Loan details"
          }
        }
      }
    },
    "/v1/tech/product/payouts/pay": {
      "post": {
        "tags": [
          "Payouts — Tech API"
        ],
        "summary": "Initiate Payout (Tech / Server-to-Server)",
        "description": "Server-to-server payout endpoint for technical integrations. No OTP required. Authenticate using your **x-api-key** from the UnPay dashboard.\n\nAll payout fields must be **AES-256-CBC encrypted** using your AES Key and IV, and the output encoded as a **HEX string**, then sent in the `body` field.\n\n**Option A — Use existing beneficiary (bene_id + bene_bank_id):**\n```\ndebit_account_id, bene_id, bene_bank_id, amount, payment_mode, narration, purpose, notes\n```\n\n**Option B — Inline beneficiary (no pre-registered bene needed):**\n```\ndebit_account_id, name, mobile, email, bank_id, bank_acc_num, ifsc_code, bank_owner_name, amount, payment_mode, narration, purpose, notes\n```\n\nSee the [AES Encryption Guide](/guides/aes-encryption) for step-by-step instructions and code examples.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Must be `application/json`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "AES-256-CBC encrypted payout payload (HEX encoded). Encrypt either Option A or Option B plaintext JSON — see description above.",
                    "example": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
                  }
                }
              },
              "example": {
                "body": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout initiated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "TXN20260413001"
                    },
                    "status": {
                      "type": "string",
                      "example": "PENDING"
                    },
                    "message": {
                      "type": "string",
                      "example": "Payout initiated successfully"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid body"
          },
          "401": {
            "description": "Unauthorized — invalid x-api-key"
          },
          "422": {
            "description": "Unprocessable — decryption failure or invalid payload"
          }
        }
      }
    },
    "/v1/tech/product/payouts/status": {
      "post": {
        "tags": [
          "Payouts — Tech API"
        ],
        "summary": "Get Payout Status",
        "description": "Retrieve the status of a previously initiated payout transaction. Authenticate using your **x-api-key**.\n\nEncrypt the plaintext payload using **AES-256-CBC** (HEX output) and send it in the `body` field.\n\n**Required headers:** `x-api-key`, `Content-Type: application/json`\n\n**Plaintext payload fields:**\n```\ntransaction_id\n```\n\nSee the [AES Encryption Guide](/guides/aes-encryption) for step-by-step instructions and code examples.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Must be `application/json`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "AES-256-CBC encrypted payload (HEX encoded). Encrypt the plaintext JSON containing the transaction_id.",
                    "example": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
                  }
                }
              },
              "example": {
                "body": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Payout status retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "transaction_id": {
                      "type": "string",
                      "example": "TXN20260413001"
                    },
                    "status": {
                      "type": "string",
                      "enum": [
                        "PENDING",
                        "PROCESSING",
                        "SUCCESS",
                        "FAILED"
                      ],
                      "example": "SUCCESS"
                    },
                    "amount": {
                      "type": "number",
                      "example": 5
                    },
                    "payment_mode": {
                      "type": "string",
                      "example": "IMPS"
                    },
                    "timestamp": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid body"
          },
          "401": {
            "description": "Unauthorized — invalid x-api-key"
          },
          "422": {
            "description": "Unprocessable — decryption failure or invalid payload"
          },
          "404": {
            "description": "Transaction not found"
          }
        }
      }
    },
    "/v1/tech/product/payouts/fetch-balance": {
      "post": {
        "tags": [
          "Payouts — Tech API"
        ],
        "summary": "Fetch Payout Balance",
        "description": "Retrieve the available payout balance for a given debit account. Authenticate using your **x-api-key**.\n\nEncrypt the plaintext payload using **AES-256-CBC** (HEX output) and send it in the `body` field.\n\n**Required headers:** `x-api-key`, `Content-Type: application/json`\n\n**Plaintext payload fields:**\n```\ndebit_account_id\n```\n\nSee the [AES Encryption Guide](/guides/aes-encryption) for step-by-step instructions and code examples.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Must be `application/json`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "body"
                ],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "AES-256-CBC encrypted payload (HEX encoded). Encrypt the plaintext JSON containing the debit_account_id.",
                    "example": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
                  }
                }
              },
              "example": {
                "body": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Balance retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "example": true
                    },
                    "debit_account_id": {
                      "type": "string",
                      "example": "UNPW4065468842"
                    },
                    "available_balance": {
                      "type": "number",
                      "example": 10000.00
                    },
                    "currency": {
                      "type": "string",
                      "example": "INR"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Bad request — missing or invalid body"
          },
          "401": {
            "description": "Unauthorized — invalid x-api-key"
          },
          "422": {
            "description": "Unprocessable — decryption failure or invalid payload"
          }
        }
      }
    },
    "/v1/tech/services/get": {
      "get": {
        "tags": ["Services"],
        "summary": "Get Service Details",
        "description": "Retrieve all services, products, providers, and account details the authenticated user has access to.\n\nThis single endpoint returns:\n- **Products** — all products available to the user\n- **Services** — all services under each product\n- **Providers** — service providers linked to the user\n- **Debit accounts** — user's debit account details\n- **Credit accounts** — user's credit account details\n\nAuthenticate using your **x-api-key**. Encrypt the plaintext payload using **AES-256-CBC** (HEX output) and send it in the `body` field.\n\n**Required headers:** `x-api-key`, `Content-Type: application/json`\n\n**Plaintext payload fields:**\n```\nuser_id\n```\n\nSee the [AES Encryption Guide](/guides/aes-encryption) for encryption instructions.",
        "security": [{ "apiKeyAuth": [] }],
        "parameters": [
          {
            "name": "Content-Type",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "default": "application/json"
            },
            "description": "Must be `application/json`"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["body"],
                "properties": {
                  "body": {
                    "type": "string",
                    "description": "AES-256-CBC encrypted payload (HEX encoded). Encrypt a JSON object containing `user_id`.",
                    "example": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
                  }
                }
              },
              "example": {
                "body": "UNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAYUNPAY"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service details retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": { "type": "boolean", "example": true },
                    "user_id": { "type": "string", "example": "USR20260001" },
                    "products": {
                      "type": "array",
                      "description": "All products available to the user.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "product_id": { "type": "string" },
                          "product_name": { "type": "string" },
                          "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] }
                        }
                      }
                    },
                    "services": {
                      "type": "array",
                      "description": "All services under each product.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "service_id": { "type": "string" },
                          "service_name": { "type": "string" },
                          "product_id": { "type": "string" },
                          "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] }
                        }
                      }
                    },
                    "providers": {
                      "type": "array",
                      "description": "Service providers linked to the user.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "provider_id": { "type": "string" },
                          "provider_name": { "type": "string" },
                          "service_id": { "type": "string" },
                          "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] }
                        }
                      }
                    },
                    "debit_accounts": {
                      "type": "array",
                      "description": "User's debit account details.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": { "type": "string", "example": "UNPW4065468842" },
                          "account_type": { "type": "string", "example": "WALLET" },
                          "balance": { "type": "number", "example": 10000.00 },
                          "currency": { "type": "string", "example": "INR" },
                          "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] }
                        }
                      }
                    },
                    "credit_accounts": {
                      "type": "array",
                      "description": "User's credit account details.",
                      "items": {
                        "type": "object",
                        "properties": {
                          "account_id": { "type": "string" },
                          "account_type": { "type": "string" },
                          "bank_name": { "type": "string" },
                          "account_number": { "type": "string" },
                          "ifsc_code": { "type": "string" },
                          "status": { "type": "string", "enum": ["ACTIVE", "INACTIVE"] }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "400": { "description": "Bad request — missing or invalid body" },
          "401": { "description": "Unauthorized — invalid x-api-key" },
          "422": { "description": "Unprocessable — decryption failure or invalid payload" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key",
        "description": "Use your API Key from the UnPay dashboard. Required for all tech/server-to-server endpoints."
      }
    }
  }
}