{
  "openapi": "3.1.0",
  "info": {
    "title": "UnPay API",
    "description": "API-First Financial Infrastructure for UPI Collect, Connected Banking, and Lending OS.",
    "license": {
      "name": "MIT"
    },
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.unpay.in"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/v1/upi/collect": {
      "post": {
        "tags": ["UPI Collect"],
        "summary": "Create Collection Request",
        "description": "Initiate a UPI collection request (Intent, QR, or Collect).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number" },
                  "currency": { "type": "string", "default": "INR" },
                  "vpa": { "type": "string" },
                  "expiry": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Request created successfully" }
        }
      }
    },
    "/v1/upi/collect/{id}": {
      "get": {
        "tags": ["UPI Collect"],
        "summary": "Get Transaction Status",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Transaction details" }
        }
      }
    },
    "/v1/banking/accounts": {
      "get": {
        "tags": ["Connected Banking"],
        "summary": "List Accounts",
        "description": "Retrieve all connected banking accounts.",
        "responses": {
          "200": { "description": "List of accounts" }
        }
      }
    },
    "/v1/banking/transfer": {
      "post": {
        "tags": ["Connected Banking"],
        "summary": "Initiate Transfer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "from_account": { "type": "string" },
                  "to_account": { "type": "string" },
                  "amount": { "type": "number" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Transfer initiated" }
        }
      }
    },
    "/v1/lending/loan/apply": {
      "post": {
        "tags": ["Lending OS"],
        "summary": "Apply for Loan",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "borrower_id": { "type": "string" },
                  "amount": { "type": "number" },
                  "tenure": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Application submitted" }
        }
      }
    },
    "/v1/lending/loan/{id}": {
      "get": {
        "tags": ["Lending OS"],
        "summary": "Get Loan Status",
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" } }
        ],
        "responses": {
          "200": { "description": "Loan details" }
        }
      }
    }
  },
  "webhooks": {
    "/v1/webhooks/payment": {
      "post": {
        "tags": ["Webhooks"],
        "summary": "Payment Notification",
        "description": "Receives notifications for successful payments.",
        "responses": {
          "200": { "description": "Webhook received" }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer"
      }
    }
  }
}